<!DOCTYPE html>

<%
  var nombreCompleto = user.name + " " + user.dadLastName + " " + user.momLastName;
%>
  <html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body class="container theme-showcase">
    <% include ../partials/header %>

      <div class="jumbotron">
        <h1><%= locals.user.accType %></h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1>Datos personales</h1>
            <ul class="list-group">
              <li class="list-group-item">
                <span><strong>Nombre: </strong><%= nombreCompleto %></span>
              </li>
              <li class="list-group-item">
                <span><strong>Coreo: </strong><%= user.email %></span>
              </li>
              <li class="list-group-item">
                <span><strong>Teléfono: </strong><%= user.cellphone %></span>
              </li>
              <%if (user.residence) { %>
                <li class="list-group-item">
                  <span><strong>Residencia: </strong><%= user.residence %></span>
                </li>
                <%}%>
                  <%if (user.religion) { %>
                    <li class="list-group-item">
                      <span><strong>Religión: </strong><%= user.religion %></span>
                    </li>
                    <%}%>
                      <%if (user.scholarship) { %>
                        <li class="list-group-item">
                          <span><strong>Escolaridad: </strong><%= user.scholarship %></span>
                        </li>
                        <%}%>
                          <%if (user.civilStatus) { %>
                            <li class="list-group-item">
                              <span><strong>Estado civil: </strong><%= user.civilStatus %></span>
                            </li>
                            <%}%>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Acciones</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a class="list-group-item active" href="/updateProfile">
                      Editar Perfil
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a class="list-group-item active" href="/signupUser">
                      Registrar nuevo usuario
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a class="list-group-item active" href="/signupMember">
                      Registrar nuevo miembro
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
  <hr / />
  <% include ../partials/footer %>

  </html>
