<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>MS MAS SALUD</title>

	<% include head %>
</head>

<body>

	<div class="wrapper">
		<% include sideNavBar %>

			<div class="main-panel">
				<% include topNavBar %>
					<div class="content">
						<div class="container-fluid">
							<div class="row">
                    <div class="col-md-12">
                        <div class="card">
													<div class="header">
														<h4 class="title">Usuarios</h4>
													</div>
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>

                            <table id="bootstrap-table" class="table">
                                <thead>
                                  <th data-field="state" data-checkbox="true"></th>
																	<th data-field="id" class="text-center"></th>
                                  <th data-field="accType" class="text-center" data-sortable="true">Cuenta</th>
                                	<th data-field="fullName" data-sortable="true">Nombre</th>
																	<th data-field="email" data-sortable="true">Correo</th>
																	<th data-field="cellphone" data-sortable="true">Telefono</th>
                                	<th data-field="isActive" data-sortable="true">Activo</th>
																	<th data-field="registerDate" data-sortable="true">Fecha Registro</th>
                                	<th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                </thead>
                                <tbody>
																	<% var i = 1; %>
																	<% locals.users.forEach(function(user){ %>
																			<tr>
	                                      <td></td>
																				<td><%=i++;%></td>
	                                    	<td><%=user.accType%></td>
	                                    	<td><%=user.fullName%></td>
	                                    	<td><%=user.email%></td>
	                                    	<td><%=user.cellphone%></td>
	                                    	<td><%=user.isActive%></td>
																				<td><%=user.registerDate%></td>
	                                    	<td></td>
	                                    </tr>
																	<% });%>
																</tbody>
                            </table>
                        </div><!--  end card  -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
						</div>
					</div>
			</div>
	</div>


</body>

<% include ../dashboardScripts %>
<script type="text/javascript">
        var $table = $('#bootstrap-table');

        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)">',
                    '<i class="fa fa-image"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
                    '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
                    '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('');
        }

        $().ready(function(){
            window.operateEvents = {
                'click .view': function (e, value, row, index) {
                    info = JSON.stringify(row);

                    swal('You click view icon, row: ', info);
                    console.log(info);
                },
                'click .edit': function (e, value, row, index) {
                    info = JSON.stringify(row);

                    swal('You click edit icon, row: ', info);
                    console.log(info);
                },
                'click .remove': function (e, value, row, index) {
                    console.log(row);
                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                }
            };

            $table.bootstrapTable({
                toolbar: ".toolbar",
                clickToSelect: true,
                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                searchAlign: 'left',
                pageSize: 8,
                clickToSelect: false,
                pageList: [8,10,25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            //activate the tooltips after the data table is initialized
            $('[rel="tooltip"]').tooltip();

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });


        });

    </script>
</html>
