<%
  var binaryAnswers = ['Sí','No'];
  var binaryAnswers2 = ['Activo','Inactivo'];
  var numberAnswers = ['1','2','3','4','5'];
  var numberAnswers2 = ['1','2','3','4','5','6','7'];
  var numberAnswers3 = ['1','2','3','4','5','6','7','8'];
%>
<form class="form-signin" action="/updateMedicalRecord" method="post" enctype="application/x-www-form-urlencoded">
<!-- <h2 class="form-signin-heading"> Completar Perfil </h2> -->
  <div class="row formularios">
    <h3 class="form-signin-heading bg-info">Antecedentes personales no patológicos</h3>
    <br>
    <div class="col-sm-6 col-md-4"><!-- INICIO PRIMER COLUMNA -->
      <div class="primera-pregunta">
        <label class="pregunta">Frecuencia de enfermedades</label>
        <p>Número de veces que has acudido al medico por enfermedad en los ultimos 365 dias</p>
      </div>
      <div class="seleccion">
        <input type="text" value="" onKeyPress="return numbersMaximo(event,'txtCosto',2)" name="diseasesFreq" class="form-control" placeholder="Número de veces">
      </div><br/>
      <div class="segunda-pregunta">
        <label class="pregunta">Horas de sueño</label>
        <p>Número de horas que duermes al día</p>
      </div>
      <div class="seleccion">
        <input type="text" id="sueño" value="" onKeyPress="return numbersMaximo(event,'sueño',1)" name="sleepingHours" class="form-control" placeholder="Número de veces que duermes al dia">
      </div><br/>
      <label class="pregunta">Habitos alimenticios</label>
      <p class="consumir">Numero de comidas que realizas al dia</p>
      <div class="radio">
        <% numberAnswers3.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="mealTimes" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div><br/>
      <label class="pregunta">Calidad alimentica</label>
      <p class="consumir">En una escala en donde 1 es mala y 5 es buena</p>
      <div class="radio">
        <% numberAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="mealQuality" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
    </div><!--FIN PRIMER COLUMNA-->

    <div class="col-6 col-md-4"><!-- INICIO SEGUNDA COLUMNA -->
      <label class="pregunta">Revisiones períodicas preventivas</label>
      <p class="consumir">En una escala donde 1 es nada frecuente y 5 es muy frecuente</p>
      <div class="radio">
        <% numberAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="preventiveReviews" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <label class="pregunta">Nivel de estrés</label>
      <p class="consumir">En una escala en donde 1 es muy bajo y 5 es muy alto</p>
      <div class="radio">
        <% numberAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="stressLevel" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <label class="pregunta">Habitos deportivos</label>
      <p class="consumir">Numero de dias que realizas deporte a la semana</p>
      <div class="radio">
        <% numberAnswers2.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="workoutsDays" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div><br/>
    </div><!--FIN SEGUNDA COLUMNA-->

    <div class="col-6 col-md-4"> <!-- INICIO TERCERA COLUMNA -->
      <label class="pregunta">Vida Sexual:</label>
      <div class="radio">
        <% binaryAnswers2.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="sexualLife" data-toggle="radio" value="<%=answer%>"><%=answer%></label><br>
        <%})%>
      </div>
      <div class="seleccion">
        <label class="pregunta">Alcoholismo</label>
        <p>Numero de bebidas alcoholicas que consumes a la semana</p>
      </div>
      <div class="seleccion">
        <input type="text" id="alcohol" value="" onKeyPress="return numbersMaximo(event,'alcohol',2)" name="alcoholicDrinks" class="form-control" placeholder="Cantidad de bebidas alcoholicas que consumes">
      </div><br/>
      <div class="seleccion">
        <label class="pregunta">Tabaquismo</label>
        <p>Numero de cigarros que consumes al mes</p>
      </div>
      <div class="seleccion">
        <input type="text" id="cigarettes" value="" onKeyPress="return numbersMaximo(event,'cigarettes',2)" name="cigarettes" class="form-control" placeholder="Cantidad cigarros">
      </div><br/>
      <label class="pregunta">Otras Drogas:</label>
      <p class="consumir">Consumes actualmente otro tipo de drogras</p>
      <div class="radio">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="otherDrugs" data-toggle="radio" value="<%=answer%>"><%=answer%></label><br>
        <%})%>
      </div>
      <div class="seleccion">
        <label class="pregunta">Refresco y bebidas azucaradas</label>
        <p>Numero de bebidas que consumes a la semana</p>
      </div>
      <div class="seleccion">
        <input type="text" id="azucar" value="" onKeyPress="return numbersMaximo(event,'azucar',2)" name="sugaryDrinks" class="form-control" placeholder="Consumo de bebidas azucaradas">
      </div>
        <!-- <button type="submit" class="btn btn-default">Guardar</button> -->
    </div> <!--TERCER DIV-->
  </div> <!-- FORMULARIOS-->
</form>
