<%
  var diabetesType = locals.diabetesType;
  var infectoType = locals.infectoType;
  var hearthType = locals.hearthType;
  var cancerType = locals.cancerType;
  var cerebralPalsy = locals.cerebralPalsy;
  var kidneyType = locals.kidneyType;
  var lungType = locals.lungType;
  var liverType = locals.liverType;
  var binaryAnswers = ['Sí','No','Desconoce'];
%>
<form class="form-signin" action="/updateMedicalRecord" method="post" enctype="application/x-www-form-urlencoded">
  <div class="row formularios">
    <div class="texto-principal">
      <h3 class="form-signin-heading bg-info">Antecedentes personales patologicos</h3>
    </div><!--.texto-principal-->
    <div class="col-6 col-md-4"><!-- INICIO PRIMER COLUMNA -->
      <label class="pregunta">Enfermedades infectocontagiosas</label>
      <p>La manifestacion clinica consecuente a una infección provocada por un microorganismo como bacterias,hongos,
      virus o síntomas</p>
      <div class="radio" name="infect" id="infect">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="enfInfectocontagiosas" id="<%=opt%>IC" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div id="siIC" style="display:none">
          <label class="pregunta">Tipo de enfermedad infectocontagiosa</label>
          <% infectoType.forEach(function(type){ %>
            <label class="checkbox"><input type="checkbox" name="infectoType" data-toggle="checkbox" value="<%=type%>"><%=type%></label>
          <%})%>
      </div> <!--.Desplegar opciones-->
      <div>
        <label class="pregunta">Diabetes</label>
        <div class="radio" name="diabetesT" id="diabetesT">
          <% binaryAnswers.forEach(function(answer){ %>
          <% var opt = answer.charAt(0).toLowerCase(); %>
            <label class="radio"><input type="radio" name="diabetes" id="<%=opt%>D" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
          <%})%>
        </div>
        <div id="siD" style="display:none">
          <label class="pregunta">Tipo de diabetes</label>
          <% diabetesType.forEach(function(type){ %>
            <label class="radio"><input type="radio" name="diabetesType" data-toggle="radio" value="<%=type%>"><%=type%></label>
          <%})%>
        </div> <!--.Desplegar opciones-->
      </div>
      <div>
        <label class="pregunta">Obesidad o sobrepeso</label>
        <p>Acumulacion anormal o excesiva de grasa que puede ser perjudicial para la salud</p>
        <div class="radio" name="obesidad" id="obesidad">
          <% binaryAnswers.forEach(function(answer){ %>
          <% var opt = answer.charAt(0).toLowerCase(); %>
            <label class="radio"><input type="radio" name="obesity" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
          <%})%>
        </div>
      </div>
      <div>
        <label class="pregunta">Artritis</label>
        <p class="consumir">Inflamación de una o más articulaciones que provoca dolor y rigidez, y puede empeorar con la edad</p>
        <div class="radio">
          <% binaryAnswers.forEach(function(answer){ %>
          <% var opt = answer.charAt(0).toLowerCase(); %>
            <label class="radio"><input type="radio" name="arthritis" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
          <%})%>
        </div>
      </div>
    </div> <!--PRIMER DIV-->
    <div class="col-6 col-md-4"><!--INICIA SEGUNDO DIV-->
    <div>
      <label class="pregunta">Cardiopatias</label>
      <p>Término que se aplica a todas las enfermedades del sistema circulatorio tanto congénitas, heredadas o
      adquiridas</p>
      <% hearthType.forEach(function(answer){ %>
      <% var opt = answer.charAt(0).toLowerCase(); %>
        <label class="checkbox"><input type="checkbox" name="hearthType" data-toggle="checkbox" value="<%=answer%>"><%=answer%></label>
      <%})%>
    </div>
    <div>
      <label class="pregunta">Cancer</label>
      <p>Enfermedad en la que células anómalas se dividen sin control y destruyen los tejidos corporales</p>
      <div class="radio" name="cancer" id="cancer">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="cancer" id="<%=opt%>C" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div id="siC" style="display:none">
        <label class="pregunta">Tipo de cáncer</label>
        <% cancerType.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="checkbox"><input type="checkbox" name="cancerType" data-toggle="checkbox" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div> <!--.Desplegar opciones-->
    </div>
    <div>
      <label class="pregunta">Cefalea</label>
      <p class="consumir">Dolores y molestias localizadas en cualquier parte de la cabeza</p>
      <div class="radio">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="headache" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
    </div>
  </div><!--SEGUNDO DIV-->
  <div class="col-6 col-md-4"><!--INICIA TERCER DIV-->
    <div>
      <label class="pregunta">Convulsiones</label>
       <p>Dolores y molestias localizadas en cualquier parte de la cabeza</p>
       <div class="radio">
         <% binaryAnswers.forEach(function(answer){ %>
         <% var opt = answer.charAt(0).toLowerCase(); %>
           <label class="radio"><input type="radio" name="convulsiones" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
         <%})%>
       </div>
    </div>
    <div>
      <label class="pregunta">Parálisis cerebral</label>
      <p>La parálisis cerebral no permite y/o dificulta los mensajes enviados por el cerebro hacia
        los músculos, obstaculizando su movimiento</p>
      <div class="radio" name="cerebralPalsy">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="cerebralPalsy" id="<%=opt%>CP" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div id="siCP" style="display:none">
        <label class="pregunta">Tipo de paralisis</label>
        <% cerebralPalsy.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="checkbox"><input type="checkbox" name="cerebralPalsy" data-toggle="checkbox" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div> <!--.Desplegar opciones-->
    </div>
    <div>
      <label class="pregunta">Enfermedades pulmonares</label>
      <div class="radio" name="lungDisease">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="enfPulmonar" id="<%=opt%>EP" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div id="siEP" style="display:none">
        <label class="pregunta">Tipo de neumopatía</label>
        <% lungType.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="checkbox"><input type="checkbox" name="lungType" data-toggle="checkbox" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div> <!--.Desplegar opciones-->
    </div>
    <div>
      <label class="pregunta">Enfermedades renales</label>
      <div class="radio" name="kidneyDisease">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="enfPulmonar" id="<%=opt%>KT" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div id="siKT" style="display:none">
        <label class="pregunta">Tipo de neumopatía</label>
        <% kidneyType.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="checkbox"><input type="checkbox" name="kidneyType" data-toggle="checkbox" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div> <!--.Desplegar opciones-->
    </div>
    <div>
      <label class="pregunta">Enfermedades hepaticas</label>
      <div class="radio" name="liverDisease">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="liverDisease" id="<%=opt%>TH" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div id="siTH" style="display:none">
        <label class="pregunta">Tipo de hepatopatias</label>
        <% liverType.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="checkbox"><input type="checkbox" name="liverType" data-toggle="checkbox" value="<%=answer%>"><%=answer%></label>
        <%})%>
    </div>
  </div>
        </div> <!--TERCER DIV-->

  </div><!--.row formularios-->
</form>
