<%
  var binaryAnswers = ['Sí','No','Desconoce'];
  var HospitalizationType = locals.hospitalizationType;
  var bloodType = locals.bloodType;
  var allergies = locals.allergies;
%>
<form class="form-signin" action="/updateMedicalRecord" method="post" enctype="application/x-www-form-urlencoded">
  <div class="row formularios">
    <div class="texto-principal">
      <h3>Hospitalización y cirugias</h3>
    </div>
      <div class="col-6 col-md-4"><!-- INICIA PRIMER DIV-->
        <div>
          <label class="pregunta">¿Alguna vez se le ha hospitalizado?</label>
          <!-- <p>La persona que visita un establecimiento de atención de la salud por razón de diagnóstico o tratamiento y pasa la noche en el recinto</p> -->
          <div class="radio" name="isBeenHospitalizes" id="isBeenHospitalizes">
            <% binaryAnswers.forEach(function(answer){ %>
            <% var opt = answer.charAt(0).toLowerCase(); %>
              <label class="radio"><input type="radio" name="sH" id="<%=opt%>H" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
            <%})%>
          </div>
          <div id="siH" style="display:none">
            <label class="pregunta">Número de veces de hospitalización</label>
            <div class="seleccion">
              <input type="text" id="timeHospitalizacion" value="" onKeyPress="return numbersMaximo(event,'timeHospitalizacion',1)" name="times" class="form-control" placeholder="Número de veces que te han hospitalizado">
            </div>
            <br><label class="pregunta">Tipo de hospitalización</label>
            <% HospitalizationType.forEach(function(type){ %>
              <label class="checkbox"><input type="checkbox" name="HospitalizationType" data-toggle="checkbox" value="<%=type%>"><%=type%></label>
            <%})%>
          </div>
        </div>
        <label class="pregunta">¿Tiene alguna farmacodependencia?</label>
        <!-- <p>Es el estado físico y psicológico que causa la acción recíproca entre el organismo y el fármaco. Ocurre cuando una persona requiere uno o más fármacos para funcionar con normalidad</p> -->
        <div class="radio" name="drugAddiction" id="drugAddiction">
          <% binaryAnswers.forEach(function(answer){ %>
          <% var opt = answer.charAt(0).toLowerCase(); %>
            <label class="radio"><input type="radio" name="sH" id="<%=opt%>D" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
          <%})%>
        </div>
      </div>
      <!-- SEGUNDA COLUMNA -->
    <div class="col-6 col-md-4">
      <div>
        <label class="pregunta">¿Conoces tu tipo sanguineo?</label>
        <div class="radio" name="tipoSanguineo" id="tipoSanguineo">
          <% binaryAnswers.forEach(function(answer){ %>
          <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="sH" id="<%=opt%>TS" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
          <%})%>
        </div>
        <div class="radio" name="siTS" id="siTS" style="display:none">
          <label class="pregunta">Tipo de sangre</label>
            <% bloodType.forEach(function(type){ %>
              <label class="radio"><input type="radio" name="bloodType" data-toggle="radio" value="<%=type%>"><%=type%></label>
            <%})%>
        </div>
      </div>
      <div>
        <label class="pregunta">¿Alguna vez ha recibido transfusiones sanguineas?</label>
        <div class="radio" name="bloodTransfer" id="bloodTransfer">
          <% binaryAnswers.forEach(function(answer){ %>
          <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="sH" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
          <%})%>
        </div>
      </div>
    </div><!--FINALIZA SEGUNDO DIV-->
    <!--INICIA TERCER DIV-->
    <div class="col-6 col-md-4">
      <label class="pregunta">Alergias</label>
      <div class="radio" name="allergies" id="allergies">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
        <label class="radio"><input type="radio" name="sA" id="<%=opt%>A" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
      <div class="radio" name="siA" id="siA" style="display:none">
        <label class="pregunta">Tipo de alergías:</label>
          <% allergies.forEach(function(type){ %>
            <label class="checkbox"><input type="checkbox" name="allergiesType" data-toggle="checkbox" value="<%=type%>"><%=type%></label>
          <%})%>
      </div>
      <label class="pregunta">¿Tiene completo el esquema de vacunación?</label>
      <!-- <p class="consumir">Considera que hay un esquema para menores y otro para adultos</p> -->
      <div class="radio" name="vaccineScheme" id="vaccineScheme">
        <% binaryAnswers.forEach(function(answer){ %>
        <% var opt = answer.charAt(0).toLowerCase(); %>
          <label class="radio"><input type="radio" name="sH" id="<%=opt%>V" data-toggle="radio" value="<%=answer%>"><%=answer%></label>
        <%})%>
      </div>
    </div> <!--FINALIZA TERCER DIV-->
  </div><!--.row formularios-->
</form>
